html {
  font-family: "Permanent marker";
  font-size: 40px;
  text-align: justify;
  scroll-behavior: smooth;
}

body {
    background-color: #fde1a6;
    overflow-x: hidden;
  }

#title {
  text-align: center;
}

.stagioni-img{
  size: 12px;
}

#image {
  width:730px;
  height:auto;
}

.img-trasf{
  align-self: center;
}

.testo-primo-col {
  color: rgb(77, 67, 0);
}

.testo-secondo-col {
  color: rgb(0, 0, 0);
}




ul {
  background-color: rgba(223, 244, 177, 0.8);
  padding-left: 1rem;
   border-radius: 50px;
   
}

h1 {
  text-align: center;
  font-size: clamp(80px, 5vw, 15px);
  border: 5px solid;
  background-color: rgb(223, 244, 177);
  border-radius: 50px 50px 20px 20px;
}

#desc {
  border: 3px solid;
  text-align: center;
  background-color: rgba(225, 215, 144, 0.8);
}
#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-color: #000000;
  border-style: solid;
}
#img-caption {
  text-align: center;
  background-color: rgb(132, 134, 119);
}

h2 {
  text-align: center;
  text-justify: auto;
  background-color: rgb(190, 161, 143);
}

p {
  background-color: rgb(151, 80, 59);
  text-align: center;
}


#lista li{
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(147, 149, 33);
  text-align: center;
  background-color: #ebeac0cc;
}

#rejected {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-color: #000000;
  border-style: solid;
}

figcaption {
  text-align: center;
  background: rgb(151, 80, 59);
}


#Team7 {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-color: #000000;
  border-style: solid;
}

#acceptance {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-color: #000000;
  border-style: solid;
}

h3 {
  text-align: center;
  background-color: rgb(228, 192, 92);
}

img{
  width: 100%;
}

#menu li {
  list-style: none!important;
}

*{
  font-family: Barlow, sans-serif;}