html {
  font-family: "Permanent marker";
  font-size: 40px;
  text-align: justify;
  scroll-behavior: smooth;
}

body {
    background-color: #d7c8a7;
    overflow-x: hidden;
  }

#title {
  text-align: center;
}

.stagioni-img{
  size: 12px;
}

#image {
  width:730px;
  height:auto;
}

.img-trasf{
  align-self: center;
}

#menu ul, #menu li {
 e: non list-style-type;
}

ul {
  background-color: rgba(192, 212, 149, 0.800);
  padding-left: 1rem;
   border-radius: 50px
}

h1 {
  text-align: center;
  font-size: clamp(80px, 5vw, 15px);
  border: 5px solid;
  background-color: rgb(192, 212, 149);
  border-radius: 50px 50px 20px 20px;
}

#desc {
  border: 3px solid;
  text-align: center;
  background-color: rgb(135, 209, 159);
}
#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-color: #000000;
  border-style: solid;
}
#img-caption {
  text-align: center;
  background-color: rgb(132, 134, 119);
}

h2 {
  text-align: center;
  text-justify: auto;
  background-color: rgb(190, 161, 143);
}

p {
  background-color: rgb(151, 80, 59);
  text-align: center;
}




#rejected {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-color: #000000;
  border-style: solid;
}

figcaption {
  text-align: center;
  background: rgb(151, 80, 59);
}


#Team7 {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-color: #000000;
  border-style: solid;
}

#acceptance {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-color: #000000;
  border-style: solid;
}

h3 {
  text-align: center;
  background-color: pink;
}

img{
  width: 100%;
}