html {
  font-family: "Permanent marker";
  font-size: 40px;
  text-align: justify;
  scroll-behavior: smooth;
}

body {
    background-color: #1f1d1d;
    overflow-x: hidden;
  }

#title {
  text-align: center;
}

#image {
  width:730px;
  height:auto;
}


#menu ul, #menu li {
  list-style-type: none;
}

.red {
  color:rgb(101, 99, 118);
}

* {
  color:rgb(160, 172, 183);
}
h1,h2,h3{
  color: rgb(24, 20, 27);
}
h1 {
  text-align: center;
  font-size: clamp(80px, 5vw, 15px);
  border: 5px solid;
  background-color: rgb(55, 54, 66);
  border-radius: 50px 50px  0 0;
}

#desc {
  border: 3px solid;
  text-align: center;
  background-color: rgb(55, 54, 66);
}
#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-color: #000000;
  border-style: solid;
}
#img-caption {
  text-align: center;
  background-color: rgb(55, 54, 66);
}

h2 {
  text-align: center;
  text-justify: auto;
  background-color: rgb(55, 54, 66);
}

p {
  background-color: rgb(55, 54, 66);
  text-align: center;
}

ul {
  background-color: rgb(55, 54, 66);
  padding-left: 2rem;
}


#rejected {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-color: #000000;
  border-style: solid;
}

figcaption {
  text-align: center;
  background: rgb(55, 54, 66);
}

#Team7 {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-color: #000000;
  border-style: solid;
}

#acceptance {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-color: #000000;
  border-style: solid;
}

h3 {
  text-align: center;
  background-color: rgb(55, 54, 66);
}
